language: rust
sudo: required
env:
  global:
    - RUST_BACKTRACE=1
cache: cargo

matrix:
  include:
    - rust: nightly
      os: linux
    - rust: stable
      os: linux
    - rust: nightly
      os: osx
    - rust: stable
      os: osx

before_script: 
  - cargo install rustfmt || true
script:
  - cargo test --all
  - cargo doc
  - cargo fmt -- --write-mode=diff
